absl-py==2.1.0
aext-assistant
aext-assistant-server
aext-core
aext-core-server
aext-panels
aext-panels-server
aext-share-notebook
aext-share-notebook-server
aext-shared
aiobotocore
aiohttp
aioitertools
aiosignal
alabaster
anaconda-anon-usage
anaconda-catalogs
anaconda-client
anaconda-cloud-auth
anaconda-navigator
anaconda-project
anyio
appdirs==1.4.4
archspec
argon2-cffi
argon2-cffi-bindings
arrow
astroid
astropy
astropy-iers-data
asttokens
astunparse==1.6.3
async-lru
atomicwrites==1.4.0
attrs
Automat
autopep8
Babel
backports.functools-lru-cache
backports.tempfile
backports.weakref==1.0.post1
bcrypt
beautifulsoup4
bidict==0.23.1
binaryornot
black
bleach
blinker==1.9.0
bokeh
boltons
botocore
Bottleneck
Brotli
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
clyent==1.2.2
colorama
colorcet
comm
conda
conda-build
conda-content-trust
conda-libmamba-solver
conda-pack
conda-package-handling
conda-repo-cli
conda-token
conda-verify==3.4.2
conda_index
conda_package_streaming
constantly
contourpy
cookiecutter
cryptography
cssselect
cycler
cytoolz
daal4py==2023.1.1
dask
dask-expr
datasets
datashader
debugpy
decorator
defusedxml
Deprecated==1.2.18
diff-match-patch
dill
distributed
docstring-to-markdown
docutils
entrypoints
et-xmlfile==1.1.0
executing
fastjsonschema
filelock
flake8
Flask==3.0.0
Flask-Cors==4.0.0
Flask-Limiter==3.5.0
Flask-Login==0.6.3
Flask-SocketIO==5.5.0
Flask-SQLAlchemy==3.1.1
flatbuffers==24.3.25
flutter==0.1
fonttools
frozenlist
fsspec
future
gast==0.6.0
gensim
geographiclib==2.0
geopy==2.4.1
glob2
gmpy2
google-pasta==0.2.0
graphviz==0.20.3
greenlet
grpcio==1.65.4
gunicorn==21.2.0
h11
h5py
HeapDict
holoviews
httpcore
httpx
huggingface_hub
hvplot
hyperlink
idna
imagecodecs
imageio
imagesize
imbalanced-learn
importlib-metadata
incremental
inflection==0.5.1
iniconfig
intake
intervaltree
ipykernel
ipython
ipywidgets
isort
itemadapter
itemloaders
itsdangerous
jaraco.classes
jedi
jellyfish
Jinja2
jmespath
joblib==1.3.2
json5
jsonpatch
jsonpointer==2.1
jsonschema
jsonschema-specifications
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaleido
keras==3.4.1
keyring
kiwisolver
lazy-object-proxy
lazy_loader
libarchive-c
libclang==18.1.1
libmambapy
limits==4.0.1
linkify-it-py
llvmlite
lmdb
locket
lxml==5.2.1
lz4
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mccabe
mdit-py-plugins
mdurl
menuinst
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes==0.4.0
more-itertools
mpmath
msgpack
multidict
multipledispatch
multiprocess
mypy-extensions
mysql-connector-python==8.2.0
namex==0.0.8
navigator-updater
nbclient
nbconvert
nbformat
nest-asyncio
networkx
nltk
notebook
notebook_shim
numba
numexpr
numpy==1.26.4
numpydoc
openpyxl
opt-einsum==3.3.0
optree==0.12.1
ordered-set==4.1.0
overrides
packaging
pandas==2.2.2
pandocfilters
panel
param
paramiko
parsel
parso
partd
pathspec
patsy
pep8==1.7.1
pexpect
pickleshare
pillow
pkce
pkginfo
platformdirs
plotly
pluggy
ply==3.11
prometheus-client
prompt-toolkit
Protego
protobuf==4.21.12
psutil
ptyprocess
pure-eval
py-cpuinfo
pyarrow
pyasn1
pyasn1-modules==0.2.8
pycodestyle
pycosat
pycparser
pyct
pycurl==7.45.2
pydantic
PyDispatcher==2.0.5
pydocstyle
pydot==3.0.1
pyerfa
pyflakes
Pygments
PyJWT
pylint
pylint-venv
pyls-spyder==0.4.0
PyNaCl
pyodbc
pyOpenSSL
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-engineio==4.11.2
python-json-logger
python-lsp-black
python-lsp-jsonrpc
python-lsp-server
python-slugify
python-snappy
python-socketio==5.12.1
pytoolconfig
pytz
pyviz_comms
pywavelets
pywin32==305.1
pywin32-ctypes
pywinpty
PyYAML
pyzmq
QDarkStyle
qstylizer
QtAwesome
qtconsole
QtPy
queuelib
referencing
regex
requests==2.31.0
requests-file
requests-toolbelt
rfc3339-validator
rfc3986-validator
rich
rope
rpds-py
Rtree
ruamel-yaml-conda
ruamel.yaml
s3fs
safetensors
scikit-image
scikit-learn==1.3.1
scikit-learn-intelex==20230426.121932
scipy==1.13.1
Scrapy
seaborn
semver
Send2Trash
service-identity
simple-websocket==1.1.0
sip
six
smart-open
sniffio
snowballstemmer
sortedcontainers
soupsieve
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
spyder
spyder-kernels
SQLAlchemy
stack-data
statsmodels
sympy
tables
tabulate
TBB==0.2
tblib
tenacity
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorflow==2.17.0
tensorflow-intel==2.17.0
tensorflow-io-gcs-filesystem==0.31.0
termcolor==2.4.0
terminado
text-unidecode
textdistance
threadpoolctl
three-merge
tifffile
tinycss2
tldextract
tokenizers
tomli
tomlkit
toolz
tornado
tqdm
traitlets
transformers
truststore
Twisted
twisted-iocpsupport
typing_extensions
tzdata
uc-micro-py
ujson
unicodedata2
Unidecode
urllib3
w3lib
watchdog
wcwidth
webencodings==0.5.1
websocket-client
Werkzeug==3.0.1
whatthepatch
widgetsnbextension
win-inet-pton
wrapt
wsproto==1.2.0
xarray
xlwings
xxhash
xyzservices
yapf
yarl
zict
zipp
zope.interface
zstandard
